@import "scss/bootstrap-grid";

/* grand-hotel-regular - latin */
@font-face {
  font-family: 'GrandHotel';
  font-style: normal;
  src: url('../fonts/grand-hotel-v5-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Grand Hotel'), local('GrandHotel-Regular'),
       url('../fonts/grand-hotel-v5-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/grand-hotel-v5-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/grand-hotel-v5-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
}

@font-face {
  font-family: 'futura';
  src: url('../fonts/futura-t-ot-book.eot?') format('eot'), url('../fonts/futura-t-ot-book.woff') format('woff'), url('../fonts/futura-t-ot-book.ttf') format('truetype');
}

@font-face {
  font-family: 'futura-light';
  src: url('../fonts/Futura-Light.eot?') format('eot'), url('../fonts/Futura-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'futura-bold';
  src: url('../fonts/Futura-Book.eot?') format('eot'), url('../fonts/Futura-Book.ttf') format('truetype');
}
a{ 	
	color: #478ECA;
}
.bg-grey {
	background: linear-gradient(to right, #ebf9fd, #D5F0F3);/*#E3F2F4;*/
}
.bg-blue {
	background-color: #478ECA;
	overflow: overlay;
}
#heightlogin{
	height: 100vh;
}

#heightlogin form {
    margin-top: 35px;
}
.bg-white {
	background-color: #FFFFFF;
	position: relative;
}
.bg-blue h2 {
	color: #FFFFFF;
	letter-spacing: 1px;
	font-size: 43px;
}
.bg-blue h3 {
	color: #FFFFFF;
	font-size: 18px;
	letter-spacing: 2px;
}
.bg-blue p{
	color: #FFFFFF;
	font-family: futura-light, Helvetica, sans-serif;
	font-size: 20px;
	line-height: 1.2rem;
}
.bg-white h2 {
	letter-spacing: 2px;
	font-size: 46px;
}
.bg-white h2 strong,
.bg-white h3 {
	color: #478ECA;

}
.bg-white h3 strong {
	border-bottom: 1px solid #27DEB8;
}
.bg-white h3 span {
	color: #000000;
	font-size: 1.3rem;
}
.bg-white p strong {

}
.bg-white p span {
	font-weight: bold;
}
body,html {
	font-family: futura, Helvetica, sans-serif;
	font-size: 22px;
	font-weight: 300;
	height: 100%;
}
.box .item{
	border-bottom: 2px solid #27DEB8;
}
.box .item > .left{
	float: left;
	width: 16%;
}
.box .item > .right{
	float: right;
	text-align: justify;
	width: 83%;
}
.box .item > .right h5{
	margin: 0;
	padding-top: 5px;
}
.box .item > .right p{
	margin-top: 0;
}
.box .item h5{
	color: #478ECA;
	font-size: 1.3rem;
}
.box .item:last-child{
	border: 0 none;
}
.box-4-2{
	display: none;
}
#carbon-copy .btn {
	border-radius: 30px;
    background-color: #4bd2a2;
    color: #FFFFFF;
    display: inline-block;
    padding: 12px 30px;
    text-decoration: none;
    font-size: 22px;
    font-family: futura-light, Helvetica, sans-serif;
}
.row {
    margin-right: 0px; 
    margin-left: -15px;
}
#carbon-copy{
	margin-bottom: -100px;
	margin-right: 0px; 
	margin-left: 0px; 
}
#carbon-copy .cnt-img{
	margin-top: 60px;
}
#boundaries .cnt-img{
	margin-top: -179px;
}
#boundaries .content {
	padding-top: 0px !important;
}
.btn {
	border-radius: 30px;
	background-color: #478ECA;
	color: #FFFFFF;
	display: inline-block;
	padding: 12px 30px;
	text-decoration: none;
	font-size: 22px;
	font-family: futura-light, Helvetica, sans-serif;
}

.btn2 {
    border-radius: 30px;
    background-color: #27deb8;
    color: #FFFFFF;
    display: inline-block;
    padding: 9px 32px;
    text-decoration: none;
    font-size: 21px;
    margin: 7px;
    font-family: futura-light, Helvetica, sans-serif;
}


.btn-menu i{
	font-size: 38px;

}
.btn-menu{
	background-color: #27DEB8;
    border: 1px solid #27DEB8;
    border-radius: 0px;
    padding: 15.7px 22px;
    width: 82px;
    height: 87px;
}


#btnClose i{
	-webkit-text-fill-color: white;
    -webkit-text-stroke-color: white;
    -webkit-text-stroke-width: 8px;
}
#btnMenu i{
	-webkit-text-fill-color: white;
    -webkit-text-stroke-color: white;
    -webkit-text-stroke-width: 3px;
}
.btn-menu span{
	display: block;
    color: #FFFFFF;
    line-height: normal;
    font-size: 14px;
}
.btn-green{
	background-color: #27DEB8;
}
.btn-image{
	background-color: transparent;
    border: 0 none;
}
.btn-image img{
	max-width: 180px;
	display: none;
}
.iconmoon-g{
    color: #fff;
    background-color: #497beb;
	width: 43px;
    height: 43px;
    border-radius: 100%;
    padding-top: 10px;
    float: left;
    font-size: 23px;
}
.iconmoon{
    color: #fff;
    background-color: #23557f;
    width: 43px;
    height: 43px;
    border-radius: 100%;
    padding-top: 10px;
    float: left;
    font-size: 23px;
}
.btn-r span{
	top: 19px;
    position: relative;
}
#carbon-copy .content-two h2{
	text-align: left;
}
.boundaries{
    bottom: 0;
    margin-bottom: 178px;
    max-width: 255px;
    padding: 10px 30px;
    position: absolute;
    right: 0;
    font-size: 18px;
    text-align: justify;
}
#boundaries h3 span{
	margin-bottom: 0;
	font-size: 18px !important;
	color: #5f5f5f;
}
#boundaries h2 {
	margin-left: 28%;
}
#boundaries h2 span{
	color: #5f5f5f !important;
	font-family:futura-light, Helvetica, sans-serif;
}
.boundaries > p{
	margin-top: 0;
	line-height: 20px;
	color: #5f5f5f;
	text-align: left;

}
.circle {
	border: 15px solid #27DEB8;
    border-radius: 50%;
    width: 209px;
    height: 209px;
    display: inline-table;
    background-size: cover;
    background-position: top center;


}
.circle img{
	overflow: hidden;
}
.clear{
	clear: both;
}
.cnt-img {
	padding: 20px 10px;
}
.description{
	padding-left: 43px;
    text-align: justify;
    width: 88%;
}
.description-journal{
	text-align: justify;
}
h1 {
	color: #27DEB8;
}
h2 {
	color: #478ECA;
}
h3 {
	color: #FFFFFF;	
}
h3 strong {
	color: #FFFFFF;
}
.learn-more {
	color: #478ECA;
}
.learn-more a{
	text-decoration: none;
}
.learn-more .detailbtn{
	padding-bottom: 10px;
}
.learn-more i{
	color: #478ECA;
	font-size: 40px;
}
img {
	width: 100%;
	/*max-width: 300px;*/
}
h2 > ins{
	border-bottom: 2px solid #27DEB8;
	text-decoration: none;
	padding-bottom: 11px;
}
h3 > ins{
	border-bottom: 2px solid #27DEB8;
	text-decoration: none;
	padding-bottom: 5px;
}
.bg-white h2  {
	padding-bottom: 11px;
}
.bg-white h3  {
	padding-bottom: 5px;
	font-size: 20px;
	line-height: 1.15;
}
.bg-white .cnt-left  p  {
	font-size: 22px;
    color: #878787;
    text-align: left;
    line-height: 23px;
}
#content{
	font-size: 19px;
	margin: 0 auto;
	height: 100%
}
.content{
	padding: 17px;
    max-width: 640px;
    margin: 0 auto;
    padding-top: 11vh;
    padding-bottom: 12vh;
}
.content-two{
	padding: 0 20px;
	margin: 0 auto;
	position: relative;	
}
.content-two h3{
	display: inline-block;
    margin-bottom: 0;
}
.content-third::before{
	background-image: url('../images/clouds-top-eternal-memories.png');
	background-repeat: no-repeat;
	background-position: center bottom;
	background-color: #FFFFFF;
	content: "";
	display: block;
	height: 70px;
}
.content-third{
	position: relative;
	background-color: #E3F2F4;
}
.content-third .bg{
	background: url("../images/clouds-eternal-memories.png") -140px 125px no-repeat
}
.cnt-img-cloud{

}

.input-email{
	border: 1px solid #FFF;
    padding: 10px 15px;
    color: #444;
    width: 75%;
    border: 0 none;
}
label{
	display: block;
	text-align: left;
}

.menu .newsletter form label{
    color: #478ECA;
    font-family: futura-bold;
    font-size: 16px;
    margin-bottom: 9px;
}

.menu .newsletter form .input-email {
    border: 1px solid #FFF;
    padding: 10px 5px;
    color: #444;
    width: 65%;
    border: 0 none;
}
.menu .newsletter form .btn-submit i {
	color: #fff;
	-webkit-text-fill-color: white;
    -webkit-text-stroke-color: white;
    -webkit-text-stroke-width: 1px;
    font-size: 14px;
}
.menu .newsletter form .btn-submit {
    border-radius: 0;
    background-color: #27deb8;
    padding: 8px 15px 11px 15px;
    border: 0;
    display: inline-block;
    margin-top: 2px;
    width: auto;
    height: 45px;
}

.menu ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #676767;
    opacity: 1; /* Firefox */
    font-family: futura-light, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 15px;
}

.menu :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #676767;
    font-family: futura-light, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 15px;
}

#parent{
    height: 61vh;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#child{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: -17px; /* Increase/Decrease this value for cross-browser compatibility */
    overflow-y: scroll;
}

.menu ::-ms-input-placeholder { /* Microsoft Edge */
    color: #676767;
    font-family: futura-light, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 15px;
}
.menu .newsletter{
	background-color: #1E4767;
    height: 125px;
    padding: 9px 24px;
    position: absolute;
    /* height: 100%; */
    bottom: 0px;
}
.menu nav{
    background-color: #fcfcfc;
    padding: 10px 0px 10px;
    width: 420px;
    min-height: 100vh;
}
.menu nav title{
	color: #27DEB8;
	display: inline-block;
	font-size: 1.5rem;
	vertical-align: top;
}
.menu .show-box2 {
	right: 20px;
}
.menu .show-box{
    text-align: left;
    display: inline-block;
    vertical-align: top;
    line-height: 2rem;
    margin-top: 29px;
    position: relative;
    top: 0px;
    left: 0px;
}
.menu ul{
	list-style-type: none;
}
.menu ul li{
    position: relative;
    padding: 7px 57px;
}
.menu ul li::after{
	border-bottom: 1px solid #27deb8;
    content: "";
    width: 120px;
    position: absolute;
    bottom: 0;
    top: 38px;
    /* line-height: 33px; */
    left: 58px;
}
.menu ul li a{
text-decoration: none;
    color: #1E4767;
    white-space: nowrap;
    font-weight: 100;
    font-family: futura-light;
    font-size: 18px;
    cursor: pointer;
}
.menu ul li.m-box a {
	color: #FFFFFF;
    background-color: #27DEB8;
    padding: 12px 49px 12px 12px;
}
.menu ul li.m-box2 a {
	color: #FFFFFF;
    background-color: #1e4767;    
    padding: 8px 57px;
    width: 330px;
    border-bottom: none !important;;
    padding: 8px 57px;
    width: 330px;
}
.subscribtion{
	background-image: url('../images/clouds-eternal-memories.png');
	background-position: bottom center;
	background-repeat: no-repeat;	
}
.frecuently{
	padding-bottom: 50px;
}
.frecuently h4{
	color: #27DEB8;
    font-size: 1.6rem;
}
.titleMenu{
	font-family: GrandHotel, Helvetica, sans-serif;
	font-size: 50px!important;
	font-weight: 120;
}
.titleMenusm{
    font-family: GrandHotel, Helvetica, sans-serif;
    font-size: 33px !important;
    font-weight: 120;
    margin-top: 25px;
    margin-left: 9px;
}
.titleSub{
	font-family: futura, Helvetica, sans-serif;
    font-size: 31pt !important;
    font-weight: 600;
    letter-spacing: 1.4px;
    padding-top: 24px;
}
.littleSub{
	font-size: 18pt !important;
    color: #333;
    line-height: 25px;
    letter-spacing: 1.1px;
    text-align: left;
}
strong{
	font-weight: 900;
}

p {
	text-align: justify;
	line-height: 1.3rem;
}
section {
	text-align: center;
}
.signup form{
    width: 100%;
    text-align: left;
}
.signup form label{
	color: #35694a;
    margin-bottom: 4px;
    font-size: 17px;
}
.signup form input{
	border: 1px solid #478ECA;
	border-radius: 8px;
	padding: 10px 5px;
}
span {
	color: #589fdc;
}
.testimonials{
	    background: url(../images/bg-testimonials.png) no-repeat;

}
.testimonials p{
	max-width: 58%;
    margin: 15px auto;
    text-align: center;
    color: #1D4766;
}
.text-center{
	text-align: center;
}
.text-center ul li{
	list-style:none;
}

.img-boundaries .desktop-img{
	display: none;
}

footer {
    background-color: #5dd8b0;
    color: #FFFFFF;
}
footer .content{
	position: relative;
}
footer .cnt-img {
    margin-top: -27px;
    width: 80px;
    display: inline-block;
}
footer .left{
	float: left;
	margin-left: -10px;
}
footer .right{
	float: none;
}
footer .second{
	width: 60%;
	text-align: center;
}
footer .second span{
	color: #FFFFFF;
	font-size: 1.6rem;
}
footer .second span ins{
	font-size: 1.2rem;
	display: block;
}
footer .second p{
	display: none;
}
footer form {
    text-align: center;
    width: 270px;
    margin: 0 auto;
}
footer .btn-submit{
    border-radius: 0;
    background-color: #FFFFFF;
    padding: 2px 3px;
    border: 0;
    display: inline-block;
    margin-top: -1px;
    width: auto;
    height: 40px;
    color: #5dd8b0;
}
footer .btn-submit ins{
	border-bottom: 0 none;
}
footer .btn-submit span{
	display: none;
}
footer .right{
	width: auto;
}
footer .content{
	padding-top: 0vh;
	padding-bottom: 2vh;
}

footer .btn-submit{
    border-radius: 0;
    background-color: #FFFFFF;
    padding: 7px 8px 8px 6px;
    border: 0;
    display: inline-block;
    margin-top: 2px;
    width: auto;
    height: 42px;
}


footer .cnt-img{
	margin-top: -35px;
    width: 150px;
    z-index: 9;
    position: absolute;
    padding: 0px 0px; 
    margin-left: -17px;
}


footer form {
    text-align: left;
    width: 100%;
    margin-top: 18px;
}
@media (min-width: 788px) {

	
	.login{
		margin-top: -24px;
	}

	.loading .bg-blue {
		background-color: #478ECA;
		overflow: initial;
	}


	#questions .accordion {
	    pointer-events: none;
	}
	
	.openMenu #cntOpen {
		display: block;
	}

	.openMenu {
	    margin-top: 0px;
	    position: fixed;
	    top: 0;
	    right: 0px;
	    z-index: 99;
	}
	.closeMenu {
	    margin-top: 0px;
	    position: fixed;
	    top: 0;
	    right: -420px;
	    z-index: 100;
	}
	.pot{
	    -webkit-animation-name: run;
	    -webkit-animation-duration: 1s;
	}     
	@-webkit-keyframes run {
	    0% { right: -420px;}
	    100%{ right: 0px;}
	    /*100%{ left: 0;}*/
	}
	.potout{
	    -webkit-animation-name: runing;
	    -webkit-animation-duration: 1s;
	}     
	@-webkit-keyframes runing {
	    0% { right: 0px;}
	    100%{ right: -420px;}
	    /*100%{ left: 0;}*/
	}
	
	.show-box {
	    position: fixed;
	    top: -1.8px;
	    right: 0;
	    z-index: 98;
	    margin-top: 41px;
	}

	footer p{
		font-size: 24px;
	    font-weight: 900;
	    margin-bottom: 3px;
	    text-align: left;
	}
	footer span{
		margin-bottom: 3px;
		font-size: 17px;
		color: #35694a;
		font-size: 20px;

	}
	.box-4-2{
		display: inline-block;
		float: left;
		width: 20%;
	}
	.box-4-4{
		display: inline-block;
		float: left;
		width: 40%;
	}
	.box .item {
		padding-left: 43px;
	    padding-right: 43px;
	    border-bottom: 2.5px solid #27DEB8;
	}
	.box .item > .left{
		display: none;
	}
	.box .item > .right{
		float: none;
		width: 100%;
		vertical-align: middle;
	}
	.box .item > .right > .left{
		float: left;
		width: 45%;
	}
	.box .item > .right > .right{
		float: right;
		width: 55%;
	}
	.box .item > .right h5{
	    display: block;
	    padding: 20px 20px 0 10px;
	    font-size: 22px;
	    font-family: futura-light;
	    font-weight: 600;
	}
	.box .item > .right p{
    	margin: 0;
    	padding: 20px 20px 20px 10px;
    	font-size: 17px;
    	line-height: 1rem;
	}
	.hiddenlg{
		display: none;
	}
	#questions .content{
		padding-top: 2vh;
    	padding-bottom: 12vh;
	}
	
	.content-blue{
		/*height: 100%;*/
		padding-top: 4vh;
		padding-bottom: 5vh;
	}
	.bg-blue .cnt-img{
		position: relative;
		bottom: -66px;
	}
	.signup{
		height: 100vh;
	}
	.signup .content {
	    margin: 0 auto;
	    max-width: 70%;
		height: 500px;
    	padding-top: 80px;
	}
	 .signupcloud::after{
	    background-image: url(../images/subscribtion-right.png);
	    background-size: cover;
	    background-repeat: no-repeat;
	    background-position: left center;
	    content: "";
	    display: inline-block;
	    float: right;
	    padding: 0px 150px;
	    position: absolute;
	    right: 0;
	    top: 2px;
	    height: 99%;
	    z-index: 0;
	    overflow: hidden;
	    animation: float 3s ease-in-out infinite;
	}
	 .signupcloud::before{
	    background-image: url(../images/subscribtion-left.png);
	    background-size: cover;
	    background-repeat: no-repeat;
	    background-position: right center;
	    content: "";
	    display: inline-block;
	    float: left;
	    padding: 0 190px;
	    position: absolute;
	    left: -10px;
	    top: 0;
	    height: 100%;
	    z-index: 0;
	    animation: float 3s ease-in-out infinite;
	}
	
	.subscribtion p {
		line-height: 1.3rem;
		width: 464px;
		margin: 0 auto;
		text-align: center;
		margin-bottom: 20px;
	}
	.subscribtion .content {
	    margin: 80px auto;
	    max-width: 720px;
	    height: 360px;
	}
	.subscribtion::before{
		background-image: url('../images/subscribtion-left.png');
		background-repeat: no-repeat;
		background-position: right top;
		content: "";
		display: inline-block;
		float: left;
		padding: 0 190px;
		position: absolute;
		left: 0;
		top: 100px;
		height: 100%;
	}
	.subscribtion::after{
		background-image: url('../images/subscribtion-right.png');
		background-repeat: no-repeat;
		background-position: left top;
		content: "";
		display: inline-block;
		float: right;
		padding: 0 190px;
		position: absolute;
		right: 0;
		top: 100px;
		height: 100%;
	}
	.subscribtion  h3 {
	    padding-bottom: -8px;
	    font-size: 40px;
	    line-height: 0px;
	    font-family: futura-light;
	    font-weight: 500;
	}
	.subscribtion h2 {
	    letter-spacing: 2px;
	    font-size: 46px;
	    line-height: 1.15;
	}
	.subscribtion{
	    background: #FFFFFF;
	    clear: both;
	    position: relative;
	    height: 600px;
	    z-index: 9;
	}
	.boundaries {
		top: 79px;
		margin-top: 37px;
		max-width: 32%;
		left: 33%;
		color: #4c4c4c;
	}

	.btn-image img{
		display: block;
	}
	#safety h2{
		font-size: 35px;
		font-family: futura-light, Helvetica, sans-serif;
		   margin-left: -137px;
		text-align: right;
		font-weight: 600;
		
	}
	#safety h2 > span{
		font-size: 58px;
	    vertical-align: text-top;
	    border-bottom: 2px solid #589fdc;
	    font-family: futura-bold, Helvetica, sans-serif;
	    font-weight: 900;
	}
	#safety  p > h2{
		color:#444;
	}
	#safety .description-journal{
		float: left;
	}
	#safety .description-little{
		width: 80%;
		float: right;
		line-height: 1px;
	}
	#safety .content {
	    padding-top: 5vh;
	    padding-bottom: 0vh;
	}

	#pace .circlel{
		border: 7px dashed #66a2d2;
		border-radius: 50%;
	    width: 80%;
	    display: inline-table;
	    background-size: cover;
	    padding: 10px 10px;
	    margin-top: -60px;
	}
	
	#pace .content-two .cnt-img{
	    width: 110%;
	    text-align: center;
	    margin-bottom: 71px;
	    margin-left: -36px;
	    margin-top: -60px;
	}
	#pace .content-two h2{
	    font-family: futura-light, Helvetica, sans-serif;
		font-weight: 100;
		line-height: 0.9;
	}
	#pace .content-two h2 span{
		font-family: futura-bold, Helvetica, sans-serif;
	    font-weight: 900;
	    color: #ffffff;
	    font-size: 96px;
	}
	#pace .content-two p{
		text-align: center;
	    width: 70%;
	    float: center;
	    margin: 0px 68px;
	}
	.content{
		max-width: 900px;
	}
	.cnt-left{
		max-width: 50%;
    	text-align: left;
	}
	.cnt-right{
		max-width: 50%;
		text-align: justify;
	}
	.cnt-right-sub{
		max-width: 46%;
		text-align: justify;
	}
	.cnt-right-sub p{
		font-size: 18px !important;
	}
	img {
	    max-width: 100%;
	}
	.item span{
		display: none;
	}
	.img-boundaries .desktop-img{
		display: block;
		margin: 0 auto;
		max-width: 100%;
	}
	.img-boundaries .mobile-img{
		display: none;
	}
	.left{
		float: left;
		width: 50%;
	}
	.right{
		float: right;
		width: 50%;
	}
	
}
@media (min-width: 992px) {
	.frecuently .content{
		max-width: 74%;
		margin: 0 auto;
	}
}
@media (min-width: 1200px) {
	.content{
		max-width: 81%;
	}
}


.floating{
overflow: hidden;
transform: translatey(0px);
animation: float 3s ease-in-out infinite;
img { width: 100%; height: auto; }
}


@keyframes float {
0% {
transform: translatey(0px);
}
50% {
transform: translatey(-20px);
}
100% {
transform: translatey(0px);
}
}

.signup h1 {
    font-family: GrandHotel, Helvetica, sans-serif;
    font-size: 45px !important;
    font-weight: 120;
    color: #fff;

}

.signup  h2 {
    color: #e3f1f1;
    letter-spacing: 1.6px;
    line-height: 1em;
    font-weight: 600;
    font-size: 35px;
    font-family: futura-light;
}
.signup h3 {
    color: #FFFFFF;
    font-size: 23px;
    letter-spacing: 1px;
    margin-top: 2px;
    text-align: center;
    font-family: futura-light;
    font-weight: 100;
}

.signup .col-md-6 form > span {
    color: #c9dddd;
    font-size: 16px;
    font-family: futura-light;
    margin-left: 18px;
    /* margin-bottom: 57px; */
    line-height: 18px;
}

.signup .col-md-6 .terms{
    color: #fafafa;
    font-size: 14px;
}

.signup .col-md-1 span{
    color: #fafafa;
	padding-top: 81px;
}
.signup span a{
    color: #fff;
}

.signup .btn-r a{
    border-radius: 30px;
    background-color: #ffffff;
    color: #205078;
    display: inline-block;
    padding: 4px 7px;
    text-decoration: none;
    font-size: 19px;
    font-family: futura-light, Helvetica, sans-serif;
    margin-top: 8px;
    min-width: 84%;
    height: 52px;
 
}

.signup {
  line-height: 0.5;
  text-align: center;
}
.signup .col-md-1 span {
    display: inline-block;
    position: relative;
    margin-top: 110px;
}
.signup .col-md-1 span:before,
.signup .col-md-1 span:after {
    content: "";
    position: absolute;
    height: 1px;
    border-bottom: 2px solid #e3f1f1;
    top: 0px;
    width: 126px;
    transform: rotate(90deg);
}
.signup .col-md-1 span:before {
    left: -50px;
    margin-right: 35px;
}
.signup .col-md-1 span:after {
 	left: -65px;
    margin-left: 15px;
    margin-top: 166px;
}

.signup form label {
    color: #e3f1f1;
    margin-bottom: 4px;
    margin-left: 19px;
    font-size: 18px;
    padding-bottom: 5px;
    padding-top: 14px;
}

.signup {
    background-color: #478ECA;
    /*height: 100vh;*/
}

.signup form input {
	border: 0px solid #478ECA;
    border-radius: 8px;
    padding: 13px 21px;
    margin-top: 1px;
    width: 100%;
    border-radius: 50px;
}

.signup .login .btn {
    /* padding: 16px 30px; */
    border: none;
    cursor: pointer;
    border-radius: 30px;
    background-color: #5ed8b1;
    color: #FFFFFF;
    display: inline-block;
    text-decoration: none;
    font-size: 20px;
    /* width: 70%; */
    margin: 21px 0px;
    text-align: center;
    font-family: futura-light, Helvetica, sans-serif;
}
.signup .login .btn:hover {
	background-color: #4bcca1;
}

.signup .col-md-6 .btn {
	padding: 16px 30px; 
    border: none; 
    cursor: pointer; 
    border-radius: 30px;
    background-color: #5ed8b1;
    color: #FFFFFF;
    display: inline-block;
    text-decoration: none;
    font-size: 22px;
    width: 100%;
    margin: 16px 0px;
    text-align: center;
    font-family: futura-light, Helvetica, sans-serif;
}


.signup .col-md-6 .btn3 {
	margin-top: 20px;
	/*border-top: 2px solid #eee;*/
}
.facebooklogin{
	border-bottom: 1px solid #306c9c ;
	padding-bottom: 15px;
}

.signup .col-md-6 .btn:hover {
	background-color: #4bcca1;
}

.signup .col-md-5 .btn:hover {
	background-color: #f1f1f1;
}

.signup ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #8db5d8;
    opacity: 1; /* Firefox */
    font-family: futura-light, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 15px;
}

.signup :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #8db5d8;
    font-family: futura-light, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 15px;
}

.signup button:focus, .signup textarea:focus, input:focus{
    outline: none;
}

.signup ::-ms-input-placeholder { /* Microsoft Edge */
    color: #8db5d8;
    font-family: futura-light, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 15px;
}

.signup h3 {
    line-height: 1em;
}

@media (max-width: 788px) {
	.facebooklogin{
		margin-top: 35px;
	}


	.login{
		margin-top: 60px;
	}

	.signup .content {
	    max-width: 100%;

	}
	.signup .col-md-1 span {
	    display: inline-block;
	    position: relative;
	    margin-top: -30px;
	}
	.signup .col-md-1 span:before,
	.signup .col-md-1 span:after {
	    content: "";
	    position: absolute;
	    height: 1px;
	    border-bottom: 2px solid #e3f1f1;
	    top: 0px;
	    height: -14px;
	    width: 130px;
	    transform: rotate(0deg);
	}
	.signup .col-md-1 span:before {
	    left: 50px;
	    margin-top: 83px;
	}
	.signup .col-md-1 span:after {
		left: -155px;
		/* margin-left: -75px; */
		margin-top: 84px;
	}

	.signup h3 {
	    font-size: 22px;
	    line-height: 1em;
	    font-weight: 100;
	}
	.signup .btn-r a{
		width: 92%;
	}
	.content-third .bg {
	    background: url(../images/clouds-eternal-memories.png) -140px 457px no-repeat;
	}
	.menu  {
	    background-color: #fcfcfc;
	    padding: 0px; 
	    width: 100%;
	    min-height: 100vh;
	    position: fixed;
	    top: 0;
	    z-index: 98;
	}
	.togglefooter{
		width: 57px;
	    position: relative;
	    top: -15px;
	    left: 42%;
	    margin-bottom: -40px;
	    z-index: 130;
	    background-color: #5dd8b0;
	    padding: 10px;
	    text-align: center;
	    border-radius: 50%;
	}
	#about .btn {
	    font-size: 20px;
	}
	#relationship  h2 {
	    font-size: 23px;
	}
	.closeMenu {
	    margin-top: 0px;
	    position: fixed;
	    top: 100%;
	    z-index: 96;
	}

	#carbon-copy .description h3 > ins {
	    border-bottom: 2px solid #27DEB8;
	    text-decoration: none;
	    padding-bottom: 1px;
	}
	#carbon-copy .description h3:after  {
	    border-bottom: 2px solid #27DEB8;
	    width: 30px;
	    text-decoration: none;
	    padding-bottom: 5px;
	}
	#questions .ti-menu{
		padding-top: 6px;
    	margin-right: 4px;
    	margin-left: 1px;
	}
	.pot{
	    -webkit-animation-name: run;
	    -webkit-animation-duration: 1s;
	}     
	@-webkit-keyframes run {
	    0% { top: -100%;}
	    100%{ top: 0px;}
	    /*100%{ left: 0;}*/
	}
	.potout{
	    -webkit-animation-name: runing;
	    -webkit-animation-duration: 1s;
	}     
	@-webkit-keyframes runing {
	    0% { top: 0px;}
	    100%{ top: -100%;}
	    /*100%{ left: 0;}*/
	}
	#cntOpen  title {
	    color: #ffffff !important;
	    font-size: 33px;
	}
	#cntOpen{
		display: block;
	    position: fixed;
	    z-index: 100;
	    /*background: #27deb8;*/
    	height: 91px;
    	width: 100%;
   		z-index: 100;
	}
	#child {
	    position: absolute;
	    top: 80px;
	    bottom: 0;
	    left: -50px;
	    right: -17px;
	    overflow-y: scroll;
	}
	#parent {
	    height: 81vh;
	    width: 100%;
	    overflow: hidden;
	    position: relative;
	}
	.menu .newsletter form .input-email {
	    padding: 4px 5px;
	}
	.menu nav title {
	    color: #ffffff !important;
	    font-size: 33px;
	}
	.menu .show-box {
	    margin-top: -1px;
	    background-color: #27deb8;
	    color: #fff !important;
	    width: 100%;
	    position: fixed;
	    top: 0px;
	    z-index: 222;
	}

	.menu nav title {
	    color: #27DEB8;
	    display: inline-block;
	    font-size: 1.5rem;
	    vertical-align: top;
	}

	.menu nav {
    	/*background-color: #fcfcfc;*/
    	 padding: 0px; 
	}
	.menu .newsletter {
	    background-color: #1E4767;
	    /* height: 125px; */
	    padding: 9px 24px;
	    position: absolute;
	    height: 147px;
	    bottom: 0px;
	    width: 100%;
	}
	.menu .newsletter form a {
	    border-radius: 0px;
	    background-color: #27deb8;
	    color: #FFFFFF;
	    display: inline-block;
	    padding: 7px 30px;
	    text-decoration: none;
	    font-family: futura-light, Helvetica, sans-serif;
	    margin-top: 10px;
	    display: inherit;
	    text-align: center;

	}
	#about {
	    padding-top: 16vh;
	}
	.bg-tittle{
		background-color: #fff;
		position: absolute;
	    top: 0;
	    height: 100px;
	    margin-left: -16px;
	    width: 100%;
	    text-align: center;
	    cursor: pointer;
	}
	.signup .bg-tittle  h1 {
	    font-family: GrandHotel, Helvetica, sans-serif;
	    font-size: 33px !important;
	    font-weight: 100;
	    color: #5ed8b1;
	}
	.signup .bg-tittle h2 {
	    color: #478eca;
	    letter-spacing: 1px;
	    line-height: 1em;
	    font-weight: 600;
	    font-size: 19px;
	    text-align: center;
	    font-family: futura-light;
	}
	.signup .bg-tittle h3 {
	    text-align: center;
	}
	#questions .box .item h5 {
	    color: #478ECA;
	    font-size: 0.9rem;
	    font-family: futura-light;
	    font-weight: 100;
	}
	#questions .box .item > .right p {
	    margin-top: 0;
	    font-size: 16px;
	    line-height: 21px;
	    color: #504e4e;
	}

	footer {
		position: fixed;
    	bottom: -147px;
    	width: 100%;
	}
	.hiddenfooter {
		display: none;
	}
	.showfooter {
		display: block;
	}
	footer form a {
	    border-radius: 0px; 
	    background-color: #478ECA;
	    color: #FFFFFF;
	    display: inline-block;
	    padding: 12px 30px;
	    text-decoration: none;
	    font-family: futura-light, Helvetica, sans-serif;
	    margin-top: 10px;
		display: inherit;
		text-align: center;
	}
	footer form label {
		color: #397359;
    	padding-bottom: 4px;
	}
	#questions{
		margin-bottom: 94px;
	}
	footer form .input-email {
	    border: 1px solid #FFF;
	    padding: 10px 15px;
	    color: 736767;
	    width: 100%;
	    border: 0 none;
	}
	footer form {
	    text-align: center;
	    width: 100%;
	    margin: 0 auto;
	}
	footer span {
		margin-bottom: 3px;
	    font-size: 15px;
	    color: #ffffff;
	    font-size: 13px;
	    font-family: futura-light;
	    margin-left: 0%;
	    width: 100%;
	    text-align: center;
	}
	footer p {
		font-size: 17px;
	    font-weight: 900;
	    margin-bottom: 3px;
	    line-height: 13px;
	    margin-top: 2em;
	    text-align: center;
	 }
	.bg-blue h2, .bg-white h2{
	    font-size: 27px;
	    text-align: left;
	}
	.signup .bg-blue h3 {
	    color: #FFFFFF;
	    font-size: 18px;
	    letter-spacing: 2px;
	    font-size: 16px;
	    text-align: center;
	}
	.loading .bg-blue h3 {
	    color: #FFFFFF;
	    font-size: 18px;
	    letter-spacing: 2px;
	    font-size: 16px;
	    text-align: left;
	}


	#carbon-copy h3{
		padding-bottom: 5px;
		font-size: 16px;
	}
	#relationship .cnt-right-sub{
		padding-left: 28px;
		padding-right: 41px;
		text-align: left !important;
	}
	#about .titleSub {
	    text-align: center !important;
	    font-size: 29px !important;
	}
	#about  {
	    padding-top: 0vh;
	}
	#about .littleSub{
	    font-size: 13pt !important;
	    line-height: 20px;
	    letter-spacing: 0px;
	    text-align: left;

	}
	.testimonials p {
	    max-width: 98%;
	    margin: 15px auto;
	    text-align: center;
	    color: #1D4766;
	    line-height: 1rem;
	}
	.hiddensm{
		display: none!important;
	}
	.bg-blue p {
	    color: #FFFFFF;
	    font-family: futura-light, Helvetica, sans-serif;
	    font-size: 19px;
	    line-height: 1rem;
	    text-align: left;
	}
	#album p {
	    text-align: center;
	}
	.bg-white .cnt-left p {
	    font-size: 19px;
	    color: #878787;
	    text-align: left;
	    line-height: 21px;
	}
	.bg-white .cnt-left p {
	    font-size: 16px;
	    color: #878787;
	    text-align: left;
	    line-height: 20px;
	}
	#boundaries h2 {
	    margin-left: 10px;
	    width: 100%;
	    margin-bottom: 20px;
	    letter-spacing: 0.5px;
	}
	.boundaries {
	    bottom: 0;
	    margin-bottom: 73%;
	    max-width: 80%;
	    padding: 10px 30px;
	    position: absolute;
	    right: 0;
	    font-size: 17px;
	    text-align: justify;
	}
	#carbon-copy .cnt-img {
	    margin-top: -30px;
	}
	#safety h2 {
	    font-size: 24px;
	    font-family: futura-light, Helvetica, sans-serif;
	    margin-left: -137px;
	    text-align: right;
	    font-weight: 600;
	}
	.lineshort{
		width: 100px;
	    text-align: center;
	    border-bottom: 2px solid #27deb8;
	    margin-left: 33%;
	    margin-top: -12px;
	    margin-bottom: 42px;
	}
	#pace h2{
		font-size: 45px;
    	text-align: center;
	}
	#pace h2:after {
		border-bottom: 1px solid #27DEB8;
	}
	#pace h2 > ins {
	    border-bottom: 0px solid #27DEB8;
	    text-decoration: none;
	    padding-bottom: 11px;
	}
	#safety h2 > span {
	    font-size: 51px;
	    vertical-align: text-top;
	    border-bottom: 2px solid #589fdc;
	    font-family: futura-bold, Helvetica, sans-serif;
	    font-weight: 700;
	}
	#safety .description-little h3 {
	    width: 100%;
	    text-align: left;
	    float: right; 
	    line-height: 23px;
		padding-bottom: 0px;
		font-size: 20px;
		margin: 7px 0px;
	}
	#safety .description-little p {
		text-align: left;
    	color: #585058;
	    line-height: 24px;
	}
	#pace .circlel {
	    border: 7px dashed #66a2d2;
	    border-radius: 50%;
	    width: 80%;
	    display: inline-table;
	    background-size: cover;
	    padding: 10px 10px;
	    margin-top: 40px;
	}
	#pace .content-two h2 {
	    font-family: futura-light, Helvetica, sans-serif;
	    font-weight: 100;
	    line-height: 0.9;
	}
	#pace .bg-blue h2 {
	    color: #FFFFFF;
	    letter-spacing: 2px;
	    font-size: 46px;
	}
	#pace .content-two h2 span {
	    font-family: futura-bold, Helvetica, sans-serif;
	    font-weight: 900;
	    color: #ffffff;
	    font-size: 96px;
	}
	#pace .content-two .content{
	    padding: 17px;
	    max-width: 640px;
	    margin: 0 auto;
	    padding-top: 0vh;
	    padding-bottom: 0px;
	    text-align: center;
	}
	.subscribtion h3 {
	    padding-bottom: 5px;
	    font-size: 22px;
	    font-weight: 500;
	    font-family: futura-light;
	}
	.subscribtion h2 {
	    font-size: 29px;
	    text-align: center !important;
	    font-weight: 900;
	    margin-top: -22px;
	    font-family: futura-bold;
	}
	.subscribtion p {
	    text-align: justify;
	    line-height: 1.2rem;
	    margin-left: 20px;
	    margin-right: 20px;
	    text-align: center;
	    color: #5d5858;
	}
	footer .imageMail {
		width: 20% !important;
		float: left !important;
		margin-top: 8px !important;
		margin-right: 17px;
	}

	#questions .box {
		border-bottom: 1px solid #82b4f4;
	    border-top: 1px solid #82b4f4;
	}
	#questions .box .item {
	    border-bottom: 1px solid #82b4f4;
	}
	#questions .content {
	    padding: 0px;
	    max-width: 766px;
	    margin: 0 auto;
	    padding-top: 2vh;
	    padding-bottom: 0px;
	}
	#questions .frecuently {
	    padding-bottom: 0px; 
	}
	#questions .box .item > .right {
	    float: right;
	    text-align: justify;
	    width: 100%;
	}
	#questions .accordion {
	    background-color: #e3f2f5;
	    color: #488ec9;
	    cursor: pointer;
	    padding: 12px;
	    width: 100%;
	    text-align: left;
	    border: none;
	    outline: none;
	    transition: 0.4s;
	    display: inline-flex;
	}

	/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
	#questions .active, .accordion:hover {
	    background-color: #fff;
	}

	/* Style the accordion panel. Note: hidden by default */
	#questions .panel {
	    padding: 0 45px;
	    background-color: white;
	    display: none;
	    overflow: hidden;
	}

	#questions .frecuently h4 {
	    color: #27DEB8;
    	font-size: 0.9rem;
	}
	#questions ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	    color: #ddd;
	    opacity: 1; /* Firefox */
	    font-family: futura-light, Helvetica, sans-serif;
	    font-weight: 100;
	    font-size: 15px;
	}

	#questions :-ms-input-placeholder { /* Internet Explorer 10-11 */
	    color: #ddd;
	    font-family: futura-light, Helvetica, sans-serif;
	    font-weight: 100;
	    font-size: 15px;
	}

	#questions ::-ms-input-placeholder { /* Microsoft Edge */
	    color: #ddd;
	    font-family: futura-light, Helvetica, sans-serif;
	    font-weight: 100;
	    font-size: 15px;
	}
}

@media (max-width: 377px) {

	footer p {
	    font-size: 14px;
	    font-weight: 900;
	    margin-bottom: 37px;
	    line-height: 4px;
	    margin-top: 2em;
	    text-align: center;
	}
	#safety h2 {
	    font-size: 24px;
	    font-family: futura-light, Helvetica, sans-serif;
	    margin-left: 3px;
	    text-align: left;
	    font-weight: 600;
	    width: 70%;
	}
	.boundaries {
	    bottom: 0;
	    margin-bottom: 76%;
	    max-width: 99%;
	    padding: 10px 30px;
	    position: absolute;
	    right: 0;
	    font-size: 16px;
	    text-align: justify;
	}
	.content-blue  h2 > ins {
	    border-bottom: 0px solid #27DEB8 !important;
	    text-decoration: none;
	    padding-bottom: 11px;
	    font-size: 29px;
	}
	.bg-blue h3, .bg-white h3 {
	    letter-spacing: 1px;
	}
	.titleMenusm {
	    font-size: 27px !important;
	}
	.lineshort {
	    margin-left: 0;
	}
	#carbon-copy .description h3 > ins {
	    border-bottom: 0px solid #27DEB8;
	    text-decoration: none;
	    padding-bottom: 1px;
	}
}

